<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fmtech.accessibilityservicedemo">

    <!-- Required to monitor phone busy state. -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- Required for haptic feedback. -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Required for various overlays. -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- Required for keeping the screen awake during continuous reading and key filtering. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Required for shortcuts and widgets. -->
    <uses-permission android:name="com.google.android.marvin.feedback.permission.TALKBACK" />

    <!-- Required for labeling. -->
    <uses-permission android:name="com.google.android.marvin.talkback.permission.LABELING" />

    <!-- Required for managing audio levels on GB. -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <!-- Required for sending data to Google Analytics. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <!-- Hardware compatibility. -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="false" />

    <application
        android:name="com.fmtech.empf.FMApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.fmtech.empf.MainActivity"
            android:theme="@style/AppTheme"
            android:configChanges="locale">
            <intent-filter>
                <!--<action android:name="android.intent.action.MAIN" />-->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.fmtech.empf.ui.activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.fmtech.empf.ui.activities.SelectLanguageActivity"
            android:configChanges="locale"
            android:launchMode="singleTop">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.fmtech.empf.ui.activities.GuidanceActivity"
            android:configChanges="locale">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.fmtech.empf.ui.activities.LoginActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.fmtech.empf.ui.activities.NewsDetailActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.android.talkback.ShortcutProxyActivity"
            android:enabled="false"
            android:excludeFromRecents="true"
            android:label="@string/label_talkback_context_menu"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoDisplay"
            tools:ignore="ExportedActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH_LONG_PRESS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service android:name="com.fmtech.empf.service.MyAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibilityservice" />
        </service>

        <service
            android:label="@string/switch_service_name"
            android:name="com.android.switchaccess.SwitchAccessService"
            android:enabled="@bool/atLeastL"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />

                <category android:name="android.accessibilityservice.category.FEEDBACK_GENERIC" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/switch_access_accessibilityservice" />
        </service>
    </application>

</manifest>
